[Unit]
Description=Network Sniffer Web Frontend
After=network.target

[Service]
Type=simple
User=network-sniffer
Group=network-sniffer

WorkingDirectory=/etc/network-sniffer/frontend-web
ExecStart=/usr/bin/python3 app.py
Restart=always

# Aislamiento de sistema de archivos
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
# Solo permitimos leer la carpeta del frontend
ReadOnlyPaths=/etc/network-sniffer/frontend-web

# Restricciones de kernel y red
NoNewPrivileges=yes
# El frontend web NO necesita las capacidades de red del sniffer
CapabilityBoundingSet=
AmbientCapabilities=
# Solo permitimos IPv4, IPv6 y sockets Unix
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

# Visibilidad
# Ocultamos los procesos de otros usuarios (incluyendo el sniffer)
ProtectProc=invisible
ProcSubset=pid
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

# Límite de recursos (Opcional pero recomendado para Python)
MemoryMax=500M
CPUWeight=50

[Install]
WantedBy=multi-user.target